@charset "UTF-8";
/* CSS Document */

a {
	color:#4f3927;
	text-decoration:none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

body {
	color:#4f3927;
	padding: 0px;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.content {
	background-image: url(../images/content_back.jpg);
	background-repeat: repeat-y;
	width: 640px;
	vertical-align: top;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:6px;
	margin:0px;
	padding-top: 4px;
}

img { border:0; }

.content-image { margin-right:10px; }

.rounded-corners a {
	text-decoration: none;
	color: #3a445c;
}

div.scroll, div.scroll_people {
	width: 583px;
	margin-left: 34px;
	padding-right: 0px;
}
div.scroll_people {
	width:593px;
	margin-left: 22px;
}


.header {
	background-image: url(../images/top_back.jpg);
	background-repeat: no-repeat;
	height: 83px;
	width: 640px;
}
.top_logo {
	position: absolute;
	height: 62px;
	width: 85px;
	left: 39px;
	top: 14px;
}
.top_text {
	position: absolute;
	height: 34px;
	width: 454px;
	left: 137px;
	top: 36px;
}
.go_back {
	background-image: url(../images/top_back2.jpg);
	background-repeat: no-repeat;
	height: 39px;
	width: 640px;
	position: relative;
}
.stitches_top {
	padding-bottom: 7px;
	width:640px;
	height:10px;
}
.stitches_bottom {
	position: absolute;
	padding-top: 7px;
}
.start_entry {
	width:619px;
	position: relative;
	left: 21px;
	padding-bottom: 10px;
}

.start_icon {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin-left: 34px;
}

.start_name {
	margin-left: 32px;
}
.content .start_entry div a {
	text-decoration: none;
}
#mood_image {
	height: 180px;
	width: 640px;
	overflow: hidden;
}
.headergreen, .headerkate, .headerzooey {
	background-image:url(../images/top_header_back_green.jpg);
	background-repeat:no-repeat;
	width:595px;
	height:82px;
	position:relative;
	left: 22px;
	margin-bottom: 6px;
}
.headerkate { background-image:url(../kate/top_header_back.jpg); }
.headerzooey { background-image:url(../zooey/top_header_back.jpg); }



.headerback {
	background-image:url(../images/top_header_back_green.jpg);
	background-repeat:no-repeat;
	width:595px;
	height:82px;
	position:relative;
	top:4px;
	left: 22px;
}

.content .start_entry hr {
	background-image: url(../images/stitches.gif);
	background-repeat: no-repeat;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 4px;
	overflow: hidden;
	padding: 0px;
	margin: 0px;
}

.rounded-corners {
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.bar-entry, .bar-entry-start {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	color:#3a445c;
	width:566px;
	height:40px;
	position:relative;
	padding-left:28px;
	margin-bottom:6px;
	background-color: #D7D2C3;
	padding-top: 12px;
}
.bar-entry-start {
	left:22px;
}

.bar-entry-selected {
	width:586px;
	position:relative;
	padding-left:8px;
	margin-bottom:6px;
	background-color: #6e6f6c;
	padding-top: 12px;
	padding-bottom: 5px;
	background-image: url(../images/content_entry_back.jpg);
}

.bar-entry-content {
	margin-top:9px;
	margin-bottom:9px;
	width: 580px;
}

.bar-entry-content p {
	font-size:21px;
	color:#fbfcfd;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 10px;
}
.bar-entry-selected h2 {
	font-size: 25px;
	color: #fbfcfd;
	margin-left: 21px;
	margin-top: 2px;
	text-transform: none;
	font-weight: normal;
	padding-top: 0px;
	margin-bottom: 16px;
}
.campaign-title, .campaign-title-kate, .campaign-title-zooey {
	font-size: 21px;
	font-weight: normal;
	padding: 0px;
	margin-top: 11px;
	margin-bottom: 0px;
}
.campaign-title-kate { color: #b8c2d6; }
.campaign-title-zooey { color: #f2afbe; }


.behind_scenes_title {
	font-size: 25px;
	font-weight: normal;
	color: #FFF;
	margin-top: 16px;
	margin-bottom: 17px;
}


.bar-entry-content .question {
	font-weight: bold;
	font-size: 25px;
	margin-top: 2px;
	margin-bottom: 7px;
}
.bar-entry-content .answer {
	font-weight: normal;
	font-size: 25px;
	margin-top: 0px;
	margin-bottom: 30px;
}


span.play {
	color:#ffffff;
	font-size:21px;
	margin-left: 10px;
	position: relative;
	top: -13px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #4f3927;
	text-transform: uppercase;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	font-weight: bold;
	color: #4f3927;
}

.film_title {
	font-size: 25px;
	font-weight:bold;
}
.film_description {
	font-size: 25px;
	font-weight:normal;
}


.scroll p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #675343;
}

.background_content_kate {
	background-image: url(../kate/content_back.jpg);
	width: 580px;
	background-color: #8d9a9f;
}
.background_content_zooey {
	background-image: url(../zooey/content_back.jpg);
	width: 580px;
	background-color: #8d9a9f;
}



.filmography {
	padding-left: 10px;
}

.filmography p {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 560px;
}
.form_text {
	font-size: 24px;
	color: #a4a4a4;
	margin-bottom: 6px;
}
.form_required {
	position:relative;
	left: -10px;
}
.input_field {
	width: 470px;
	border-top-color: #bcbdbb;
	border-right-color: #e0e1df;
	border-bottom-color: #e0e1df;
	border-left-color: #bcbdbb;
	font-size: 24px;
	height: 53px;
	margin-bottom: 15px;
}
#tab0h a,#tab1h a,#tab2h a,#tab3h a,#tab4h a {
	color: #FFF;
}
